@media(max-width: 580px) {
    .root {
        width: 100%;
        padding: 120px 0px 0px 0px;

        &__form {
            padding: 40px;
            background: transparent;
            border: none;
        }
    }
}

@media(max-width: 370px) {
    .root {
        margin-top: 20px;

        &__title {
            font-size: 24px;
        }

        &__form {
            padding: 20px;
        }

        &__input {
            font-size: 12px;
        }

        &__submitBtn {
            padding: 10px 30px;
        }
    }
}