@media(max-width: 350px) {
    .root {
        padding: 20px;

        &__deleteBtn {
            width: 15px;
            height: 15px;
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 2px;
            border-radius: 3px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
    
            &:hover {
                background: rgba(30, 30, 30, 0.4);
            }
        }

        &__header {
            &_author {
                font-size: 12px;
            }

            &_email {
                font-size: 8px;
            }

            &_date {
                margin-right: 10px;
                font-size: 8px;
            }
        }
    }
}