.root {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), 
        url('../../assets//jpg/backgroundNews.jpg') center (center/cover) no-repeat;
    background-attachment: fixed;
    padding: 40px;
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    &__main {
        display: flex;
        justify-content: center;
        width: 1280px;
    }
}

@media(max-width: 1280px) {
    .root__main {
        width: 100%;
    }
}

@media(max-width: 980px) {
    .root {
        padding: 20px;
        padding-top: 100px;
    }

    .root__main {
        display: flex;
        flex-direction: column;
    }
}