@media(max-width: 1280px) {
    .container {
        width: 1000px;
    }
}

@media(max-width: 1120px) {
    .container {
        width: 900px;
    }
}

@media(max-width: 990px) {
    .container {
        width: 780px;
    }
}

@media(max-width: 860px) {
    .container {
        width: 690px;
    }
}

@media(max-width: 740px) {
    .container {
        width: 530px;
    }
}

@media(max-width: 550px) {
    .container {
        width: 400px;
    }
}

@media(max-width: 420px) {
    .container {
        width: 240px;
    }
}