.root {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__post {
        margin-top: 40px;
        cursor: default;

        &_author {
            text-align: right;
            font-size: 14px;
        }

        &_title {
            margin-top: 40px;
            text-align: center;
            font-size: 30px;
        }

        &_content {
            margin-top: 20px;
            text-align: justify;
            font-size: 18px;
            text-indent: 60px;
        }
    }
}

@import "media.scss"