.root {
    display: grid;
    grid-template-columns: 16fr 1fr 1fr;
    align-items: center;
    margin-top: 20px;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:nth-child(2) {
            margin-right: 10px;
        }

        &_count {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            cursor: default;
        }

        &_img {
            width: 25px;
            height: auto;
            margin-right: 5px;
        }
    }
}